.radio-label{
    font-size: 12px !important;
    color:#1E1F21
}
.suggest-box{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 5px 10px;
}
.suggest-box span{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.suggest-box.clear-box{
    padding: 15px 10px;
    text-align: center
}
.suggest-box.clear-box span{
    font-weight: 400
}
.suggest-box:hover{
    background-color: #6e737a
}

#order-container .dialog-review{
    padding:20px 24px
}
@media (min-width: 1200px){
    #order-grid-item .item-order{
        height: 85px;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }
    #order-grid-item .img-view, #order-grid-item .img-view img{
        width: 70px;
        height: 70px;
        border-radius: 5px;
    }
    .fluid-pc{
        width: 70% !important;
        margin: auto
    }
    #order-container .dialog-review{
        max-width: 800px
    }
    #order-container .footer-order{
        padding: 0 10px
    }
}
@media (max-width:1024px){
    #order-container .dialog-review{
        width: 90%;
        margin:0;
    }
}